<a href="https://colab.research.google.com/github/payasvi/payasvi/blob/master/amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import gzip  #gzip.open
import nltk
data=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines= True,orient='values')

In [5]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
data1=data[['reviewText','summary']]

In [7]:
data1.head

<bound method NDFrame.head of                                               reviewText                                            summary
0      I bought my first HP12C in about 1984 or so, a...            A solid performer, and long time friend
1      WHY THIS BELATED REVIEW? I feel very obliged t...  Price of GOLD is up, so don't bury the golden ...
2      I have an HP 48GX that has been kicking for mo...   Good functionality, but not durable like old HPs
3      I've started doing more finance stuff recently...       One of the last of an almost extinct species
4      For simple calculations and discounted cash fl...                                     Still the best
...                                                  ...                                                ...
53253  What I like about this scale is you can power ...                      Portable and very easy to use
53254  This Accuteck ShipPro digital scale works very...  Accuteck ShipPro Digital Postal Scale - Stand-...
53255  I ship a lot of stuff.  I sell small parts, ma...  Extremely accurate, foolproof postal/shipping ...
53256  This is a great little scale to have. It can w...                            Fast, Easy and Accurate
53257  When asked to review this scale, I almost decl...                 Great Value on a Good Postal Scale

[53258 rows x 2 columns]>

In [0]:
def word_count(str):
    counts = dict()
    words = str.lower().split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [11]:
data1.reviewText.apply(word_count,1)

0        {'i': 7, 'bought': 1, 'my': 4, 'first': 1, 'hp...
1        {'why': 2, 'this': 13, 'belated': 1, 'review?'...
2        {'i': 2, 'have': 2, 'an': 2, 'hp': 3, '48gx': ...
3        {'i've': 4, 'started': 1, 'doing': 2, 'more': ...
4        {'for': 4, 'simple': 1, 'calculations': 2, 'an...
                               ...
53253    {'what': 1, 'i': 1, 'like': 1, 'about': 1, 'th...
53254    {'this': 6, 'accuteck': 2, 'shippro': 2, 'digi...
53255    {'i': 6, 'ship': 1, 'a': 10, 'lot': 1, 'of': 7...
53256    {'this': 2, 'is': 4, 'a': 5, 'great': 2, 'litt...
53257    {'when': 1, 'asked': 1, 'to': 9, 'review': 1, ...
Name: reviewText, Length: 53258, dtype: object

In [12]:
data1.summary.apply(word_count,1)

0        {'a': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1        {'price': 1, 'of': 1, 'gold': 1, 'is': 1, 'up,...
2        {'good': 1, 'functionality,': 1, 'but': 1, 'no...
3        {'one': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4                        {'still': 1, 'the': 1, 'best': 1}
                               ...
53253    {'portable': 1, 'and': 1, 'very': 1, 'easy': 1...
53254    {'accuteck': 1, 'shippro': 1, 'digital': 1, 'p...
53255    {'extremely': 1, 'accurate,': 1, 'foolproof': ...
53256     {'fast,': 1, 'easy': 1, 'and': 1, 'accurate': 1}
53257    {'great': 1, 'value': 1, 'on': 1, 'a': 1, 'goo...
Name: summary, Length: 53258, dtype: object