<a href="https://colab.research.google.com/github/payasvi/payasvi/blob/master/classwork_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from textblob import TextBlob
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
import nltk
nltk.download('vader_lexicon') 
from sklearn.metrics import confusion_matrix, accuracy_score

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [0]:
twitter = pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv", sep=',')
amazon = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)
amazon = amazon.iloc[0:200,:]

In [12]:
print(list(twitter), list(amazon))

['Topic', 'Sentiment', 'TweetId', 'TweetDate', 'TweetText'] ['reviewerID', 'asin', 'reviewerName', 'helpful', 'reviewText', 'overall', 'summary', 'unixReviewTime', 'reviewTime']

In [13]:
twitter = twitter[twitter['Sentiment'] != "irrelevant"]
twitter['Sentiment'].value_counts()

neutral     2333
negative     572
positive     519
Name: Sentiment, dtype: int64

In [0]:
def blob(stri):
  senttextblob = TextBlob(stri).sentiment
  poltextblob = senttextblob.polarity
  if poltextblob > 0.0:
    return "positive"
  elif poltextblob == 0.0:
    return "neutral"
  else:
    return "negative"

In [0]:
def nltk_(stri):
  s = SIA()
  sn = s.polarity_scores(stri)
  #return sn
  if sn['compound'] >= 0.05:
    return "positive"
  elif -0.05 < sn['compound'] < 0.05:
    return "neutral"
  else:
    return "negative"

In [16]:
twitter['sent_nltk'] = twitter['TweetText'].apply(nltk_)
twitter['sent_blob'] = twitter['TweetText'].apply(blob)
twitter.head()

   Topic Sentiment  ...  sent_nltk sent_blob
0  apple  positive  ...    neutral   neutral
1  apple  positive  ...   positive  positive
2  apple  positive  ...   positive  positive
3  apple  positive  ...   positive  positive
4  apple  positive  ...   positive  positive

[5 rows x 7 columns]

In [19]:
amazon['sent_nltk'] = amazon['reviewText'].apply(nltk_)
amazon['sent_blob'] = amazon['reviewText'].apply(blob)
amazon.head()

       reviewerID        asin  ... sent_nltk sent_blob
0  A32T2H8150OJLU  B00000JBLH  ...  positive  positive
1  A3MAFS04ZABRGO  B00000JBLH  ...  positive  positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...  negative  positive
3   A49R5DBXXQDE5  B00000JBLH  ...  positive  positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...  positive  positive

[5 rows x 11 columns]

In [20]:
nltk_matrix = confusion_matrix(twitter['Sentiment'], twitter['sent_nltk'])
blob_matrix = confusion_matrix(twitter['Sentiment'], twitter['sent_blob'])
nltk_acc = accuracy_score(twitter['Sentiment'], twitter['sent_nltk'])
blob_acc = accuracy_score(twitter['Sentiment'], twitter['sent_blob'])
print("NLTK confusion matrix is: ")
print(nltk_matrix)
print("NLTK accuracy is: ", nltk_acc)
print(" ")
print("TextBlob confusion matrix is: ")
print(blob_matrix)
print("TextBlob accuracy is: ", blob_acc)

NLTK confusion matrix is:
[[ 291  138  143]
 [ 302 1234  797]
 [  47   99  373]]
NLTK accuracy is:  0.554322429906542

TextBlob confusion matrix is:
[[ 234  171  167]
 [ 201 1213  919]
 [  38  124  357]]
TextBlob accuracy is:  0.5268691588785047