<a href="https://colab.research.google.com/github/payasvi/payasvi/blob/master/word2vec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from gensim.models import Word2Vec
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string
from itertools import combinations
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:

stop_words = set(stopwords.words('english'))

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)
data = data.iloc[0:100]

In [0]:
def uni(stri):
  word_filtered = []
  stri = stri.translate(str.maketrans('', '', string.punctuation))
  words = stri.split()
  for w in words:
    if w not in stop_words:
        word_filtered.append(w)
  unique = list(dict.fromkeys(word_filtered))
  return unique

In [6]:
data['unique'] = data['reviewText'].apply(uni)
data.head()

       reviewerID  ...                                             unique
0  A32T2H8150OJLU  ...  [I, bought, first, HP12C, 1984, served, faithf...
1  A3MAFS04ZABRGO  ...  [WHY, THIS, BELATED, REVIEW, I, feel, obliged,...
2  A1F1A0QQP2XVH5  ...  [I, HP, 48GX, kicking, twenty, years, 11, 25, ...
3   A49R5DBXXQDE5  ...  [Ive, started, finance, stuff, recently, went,...
4  A2XRMQA6PJ5ZJ8  ...  [For, simple, calculations, discounted, cash, ...

[5 rows x 10 columns]

In [7]:
bag = []
for i in range(data.shape[0]):
  bag += data['unique'][i]
len(bag)

5707

In [8]:
bag_unique = list(dict.fromkeys(bag))
bag_unique = [x.lower() for x in bag_unique]
len(bag_unique)

2466

In [9]:
comb = list(combinations(bag_unique, 2))
len(comb)

3039345

In [10]:
from nltk.util import ngrams
corp = list(ngrams(bag_unique, 5))
corp[0]

('i', 'bought', 'first', 'hp12c', '1984')

In [0]:
model = Word2Vec(corp, size=100, window=5, min_count=1, workers=4)

In [12]:
similarity = []
for i in range(len(comb)):
  similarity.append(model.similarity(comb[i][0], comb[i][1]))
len(similarity)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated `similarity` (Method will be removed in 4.0.0, use self.wv.similarity() instead).
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

3039345

In [13]:
final = pd.DataFrame(list(zip(comb, similarity)), columns=['Combinations', 'Similarity_score'])
final.head()

  Combinations  Similarity_score
0  (i, bought)          0.043290
1   (i, first)          0.130024
2   (i, hp12c)          0.022204
3    (i, 1984)          0.078281
4  (i, served)         -0.183848